body{
    background-image: url(flat-lay-notebook-with-list-desk.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
i{
  width:1rem;
}
#Login-Pane{
padding: 0.4rem;  
  width: 18rem;
  height: 16rem;
  backdrop-filter: blur(8px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px; 
  border: 1px solid white;
  margin: auto;
  margin-top: 8rem;
  
}
#Login-Pane .Log-in_form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; 
  flex-grow: 1;
 /* color:white;*/
  font-size: 1.1rem;
}
.Log-in_form input{
  display: flex;
  width: 15rem;
  height: 2rem;
  border-radius: 9px;
  gap: 5px;
  border: 1px solid white;
  flex-grow: 1;
 margin: auto;
}
#Log-in_btn{
  width: 8rem;
  height: 2.3rem;
  margin: auto;
  backdrop-filter: blur(3px);
  background-color: transparent;
  color: black;
  font-weight:bold;
  transition: calc();
}
#Log-in_btn:hover{
  background-color: white;
}
#Log-in_btn:active{
  background-color: white;
  transform: scale(1.3);
}
#Signin-Pane{
  padding: 0.4rem;  
    width: 18rem;
    height: 20rem;
    backdrop-filter: blur(8px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px; 
    border: 1px solid white;
    margin: auto;
    margin-top: 8rem;
    visibility: hidden;
  }
  #Signin-Pane .Sign-in_form{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center; 
    flex-grow: 1;
    font-size: 1.1rem;
  }
  .Sign-in_form input{
    display: flex;
    width: 15rem;
    height: 2rem;
    border-radius: 9px;
    gap: 5px;
    border: 1px solid white;
    flex-grow: 1;
    margin: auto;
  }
  #Sign-in_btn{
    width: 8rem;
    height: 2.3rem;
    margin: auto;
    backdrop-filter: blur(3px);
    background-color: transparent;
    color: black;
    font-weight:bold;
  }
  #Sign-in_btn:hover{
    background-color: white;
  }
  #Sign-in_btn:active{
    background-color: white;
    transform: scale(1.3);
  }